

body {
  background-color: black;
}
h1 {
  color: white;
}
p {
  color: white;
}
a {
    color:white;

}

.col {
    color:white;

}

.node circle {
  fill: yellow;
  stroke-width: .5px;
}

.node {
  font: 10px sans-serif;
  fill: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}